### first python program

In [2]:
print("bhargavi")

bhargavi

In [3]:
number1=10
print(number1)

10

### HEADING USING ASHES SPACE

# python  using (#)

## python using(##)

### python using (###)

#### python using(####)

##### python using (#####)

### python is a language

> versatile
> hardware language

### text heighlight  using backtick's(`)

 Iam a good `girl`

### using horizontal rule using (----)

python is good

python is easy

----

### text in bold using(** **)

python for **data science**

### text in italics using(*  *)

python for *data science*

## LISTS these or 2 types

### unordered list using( * , - , + )

+ data types
- arithmatic
* logical

### ordered list using (numbers)

1 boolean

2 bitwise

3 relational

## hyper text [] () type the side 2nd bracket in url code

[google](https://www.google.com/)

[innomatics](https://online.innomatics.in/)

## images using [!] () type the side 2nd bracket in url code

[!python](https://www.google.com/search?rlz=1C1ONGR_enIN1057IN1057&sxsrf=APwXEdfOKbAkMcR-VLWM3-5wbP99JB_OXg:1686935618938&q=python&tbm=isch&sa=X&ved=2ahUKEwihls3ypMj_AhWoklYBHeXIDbAQ0pQJegQIDRAB&biw=1536&bih=746&dpr=1.25#imgrc=fFfvynwKgzdtoM)

[! radha krishna](https://www.google.com/search?rlz=1C1ONGR_enIN1057IN1057&sxsrf=APwXEddemeDNEXxfJL6i4A00GAX_VjzPfQ:1686935841776&si=AMnBZoEZ8aFftZu792frFYrnK9KQYGXRL3UTeDeHB9-uc0sfFQcEaP0I0mJxmJ9UEKDtQo-jxG2VH5D2-LonqN-40XibL7MRbmBpiNUq-1hcZi_EizosCnczMRlCwua2tHJ4F9r94nM0Q2sRrOuEC9WmbFbNwiImZvDZ1Uq3IuXCVEtqw2dvAh97K9t6-X75V19puEdogotNTrP1qZOn-q65o0RP5JQYesaG66VKuOZaSEgQKxe8ygfuooxIppxLgiSP20K8LUxUieHzcWMy0sW_uLI3F-gCTa4FSF3zba8NvnywBcRSjAcVOI48PTcTPPBfzTUfMi7ija9cG4QUlSrKJQP_Med4oA%3D%3D&q=Radhakrishn:+Punar+Milan&sa=X&ved=2ahUKEwjpjO7cpcj_AhUtp1YBHT89D9UQs9oBKAJ6BAgcEAQ&biw=1536&bih=746&dpr=1.25)

[! mahadev](https://www.peakpx.com/en/hd-wallpaper-desktop-nkbxj)

## variable only contain (alphabets,numbers,underscore)

In [4]:
first_name='shikar'
print('shikar')

shikar

In [5]:
firstName='shikarDawanKumar'
print('shikarDawanKumar')

shikarDawanKumar

In [6]:
number1=10
number2=35.6
type(number1)

int

In [7]:
type(number2)

float

In [8]:
type(number1)

int

In [9]:
int ('30')
float('50')

50.0

In [10]:
number1=10
print("number1")

number1

In [11]:
num1=10
num2=20
num3=30
num4=40
add=num1+num2+num3+num4
add

100

In [12]:
num1,num2,num3=10,20,30
add=num1+num2+num3
add

60

In [13]:
num1=num2=num3=30
add=num1+num2+num3
add

90

### how to type variable

In [14]:
num_=100
_num=10

### this below keywords are not used in variable beacause it have some special meaning

In [15]:
num1=10
num2=10
id(num1)

2463019434512

In [16]:
id(num2)

2463019434512

### type conversion

In [17]:
print (int(30))
print (float(30))
print (str(30))

30
30.0
30

### in python,variable don't need to be declared (we don't need to say what kind of a variable it should hold) and they can change type &values mid-way

In [18]:
number1 = 10
number2 = 33.5

In [19]:
age=int(input("Enter your age :"))
age

Enter your age :10

10

In [20]:
type(age)

int

In [21]:
int(age)

10

In [22]:
type(number2)

float

In [23]:
a=10
b=True

### a=10
print(type(a))
numa=True
print(type(a))

In [24]:
bool1=True
bool2=False

In [25]:
type(bool1)

bool

In [26]:
print("welcome to python")
print("python is fun")

welcome to python
python is fun

In [27]:
bool1 = True
bool2 = False
type(bool1)

bool

## List based programs

In [28]:
num1=10
num2=20
num3=30

In [29]:
list1 = [10,20,30,40]
list1

[10, 20, 30, 40]

In [30]:
list2=['python','data','machine',30]
list2

['python', 'data', 'machine', 30]

In [31]:
list3 = [23.6,55.8,456.78]
list3

[23.6, 55.8, 456.78]

In [32]:
mixed_list = [10,40,78,78.9,'machine','python',[10,50,70],True]
mixed_list

[10, 40, 78, 78.9, 'machine', 'python', [10, 50, 70], True]

In [33]:
list1=[]
type(list1)

list

 #### Indexing a list

In [34]:
mixed_list = [10,40,78,78.9,'machine','python',[10,50,70],True]
mixed_list

[10, 40, 78, 78.9, 'machine', 'python', [10, 50, 70], True]

In [35]:
mixed_list[4] # start the indexing value is 0,1,.....

'machine'

In [36]:
mixed_list[6]

[10, 50, 70]

#### negative indexing

In [37]:
mixed_list[-2]

[10, 50, 70]

In [38]:
mixed_list[-1]

True

In [39]:
mixed_list[2]=70 ## if change any number or anything or replace
mixed_list

[10, 40, 70, 78.9, 'machine', 'python', [10, 50, 70], True]

In [40]:
mixed_list[6][1] # in this 6 indicates index number and 1 is indicates the inner list index number

50

In [41]:
mixed_list[4][4]

'i'

In [42]:
mixed_list[4][2:4]    # it also use slicing

'ch'

In [43]:
mixed_list[6][1]=35   ## we can change also inner list elements
mixed_list

[10, 40, 70, 78.9, 'machine', 'python', [10, 35, 70], True]

In [44]:
mixed_list[1:5]

[40, 70, 78.9, 'machine']

In [45]:
mixed_list[::-1] ## reverse order of whole list

[True, [10, 35, 70], 'python', 'machine', 78.9, 70, 40, 10]

In [46]:
mixed_list[0:8:2]

[10, 70, 'machine', [10, 35, 70]]

 ### Built-in Functions

##### Adding values to a list

#### 1.append()
- `append()` is used to add a single element to the end of the list

In [47]:
list1 =[11,12,13,33,42,54,16] # add one element to the list
list1.append(97)
list1

[11, 12, 13, 33, 42, 54, 16, 97]

In [48]:
list1

[11, 12, 13, 33, 42, 54, 16, 97]

In [49]:
list2=[86,94,77,81]

In [50]:
list1.append(list2)
list1

[11, 12, 13, 33, 42, 54, 16, 97, [86, 94, 77, 81]]

#### 2.extend()
- `extend()` is used to extend our current list with another list

In [51]:
# add multiple elements to the list
list1=[11,12,13,33,42,54,16,97]
list2=[86,94,77,81]
list1.extend(list2)
list1

[11, 12, 13, 33, 42, 54, 16, 97, 86, 94, 77, 81]

### changing values in a list
- changing values in a list is pretty straight-forward.index the value you're trying to change and reassign it with the replacement

 > 3.insert()
- `insert()` to insert the element in any place in given list

In [52]:
# add one element at a particular location in the list
list1.insert(3,14) # 3 is the location and 14 is the insert element
list1

[11, 12, 13, 14, 33, 42, 54, 16, 97, 86, 94, 77, 81]

In [53]:
list3=[10,20,30]
list4=[70,80,90]
list5=list3 + list4 ## concatination process this means link together into a chain
list5

[10, 20, 30, 70, 80, 90]

In [54]:
list3

[10, 20, 30]

In [55]:
list4

[70, 80, 90]

In [56]:
list5

[10, 20, 30, 70, 80, 90]

##### Removing values from the list

### pop()
- `pop()` is used to remove a value in the list.based on its index position.if no index is mentioned.pop()removes the last value

In [57]:
list5=[10,70,40,50,90,30]

In [58]:
#remove any element from the list using its index value
list5.pop(2)

40

In [59]:
list5

[10, 70, 50, 90, 30]

### remove()
 - `remove()` to remove particular element in the list

In [60]:
#remove any particular element from the list
list5.remove(70)
list5

[10, 50, 90, 30]

### del()
- `del()` to delete number of elements at a time in the list

In [61]:
list6=[10,20,30,40,50,60,70,80]

In [62]:
del list6[3]

In [63]:
list6

[10, 20, 30, 50, 60, 70, 80]

In [64]:
del list6[3:7]
list6

[10, 20, 30]

### clear()
- `clear()` to clear all the elements in the list(like empty list)

In [65]:
list6.clear()
list6

[]

### count()
- to look at the number of occurences of an element in the list

In [66]:
list1=[10,10,10,20,20,20,30,40,45]

In [67]:
list1.count(20)

3

### index()
- to look at the index position of the first occurence of an element

In [68]:
list1

[10, 10, 10, 20, 20, 20, 30, 40, 45]

In [69]:
list1.index(30)

6

In [70]:
list1.index(20) # in this index it can only shows the first  element index number

3

### reverse()
- it is reverse function of given list

In [71]:
list1

[10, 10, 10, 20, 20, 20, 30, 40, 45]

In [72]:
list1[::-1]

[45, 40, 30, 20, 20, 20, 10, 10, 10]

In [73]:
list1.reverse()
list1

[45, 40, 30, 20, 20, 20, 10, 10, 10]

### sort()
- sequence of the given list (@ it can perform only integer and float values not strings)

In [74]:
list2=[6,2,14,11,1,3,67]

In [75]:
list2.sort() # it can show the assending order
list2

[1, 2, 3, 6, 11, 14, 67]

In [76]:
list2.sort(reverse=True)# it can show the descending order
list2

[67, 14, 11, 6, 3, 2, 1]

In [77]:
list3=[6,2,14,11,1,3,67]
sorted(list3) # again create original list .it can only temporarly view

[1, 2, 3, 6, 11, 14, 67]

In [78]:
list3

[6, 2, 14, 11, 1, 3, 67]

### sorted()

In [79]:
#if create perminantely view that time used
sorted_list=sorted(list3)
sorted_list

[1, 2, 3, 6, 11, 14, 67]

### extra logic

In [80]:
list8 = [11,12,13,14,15,16]

In [81]:
removed_element=list8.remove(13)
removed_element # it can be show error because it can not back

In [82]:
list8

[11, 12, 14, 15, 16]

In [83]:
removed_element=list8.pop(2)

In [84]:
removed_element   #it can be back to the element

14

### some more list methods
if we want to preserve our existing list the below assignment is not correct since it just creates new list which shares the memory hence modification on one list will directly impact the other list

In [85]:
list1=[11,12,13]
list2=[11,12,13]
list1 is list2

False

In [86]:
list1=[11,12,13]
list2=list1
list1 is list2

True

In [87]:
list1.append(14)

In [88]:
print(list1)
print(list2)

[11, 12, 13, 14]
[11, 12, 13, 14]

In [89]:
list3=[11,12,13]
list4=list3
list5=list4

In [90]:
id(list1)

2463129155648

In [91]:
id(list2)

2463129155648

In [92]:
num1=10
num2=10

In [93]:
id(num1)

2463019434512

In [94]:
id(num2)

2463019434512

### deepcopy()

In [95]:
import copy

In [96]:
list1=[1,2,3,4]
list2=copy.copy(list1)
list2 is list1         ## they are not identical

False

In [97]:
list2[2]=24

In [98]:
print(list1)
print(list2)

[1, 2, 3, 4]
[1, 2, 24, 4]

In [99]:
list3=[1,2,3,4,[10,11]] #shallow copy is nothing but any inner list elements are changed automatically both list3 and list4 are changed that is the shallow copy
list4=copy.copy(list3)   ##shallow copy
#which means that if there any list inside tuple inside it is not able to copy proper them

In [100]:
list4

[1, 2, 3, 4, [10, 11]]

In [101]:
list4[2]=23

In [102]:
list3

[1, 2, 3, 4, [10, 11]]

In [103]:
list4

[1, 2, 23, 4, [10, 11]]

In [104]:
list4[4][0]=100
list4

[1, 2, 23, 4, [100, 11]]

In [105]:
list3

[1, 2, 3, 4, [100, 11]]

In [106]:
list5=[1,2,3,4,[10,11]]#deep copy is nothing but any inner list elements are changed only a particular list elements only changed not both is that called deep copy
list6=copy.deepcopy(list5) ##deep copy

In [107]:
list5[4][0]=100

In [108]:
list5

[1, 2, 3, 4, [100, 11]]

In [109]:
list6

[1, 2, 3, 4, [10, 11]]

In [110]:
#shallow copy
list1=[1,4,5,7,[90,8]]
list2=copy.copy(list1)
list2[4][0]=500
print(list1)
print(list2)

[1, 4, 5, 7, [500, 8]]
[1, 4, 5, 7, [500, 8]]

In [111]:
#deep copy
list1=[1,4,5,7,[90,8]]
list2=copy.deepcopy(list1)
list2[4][0]=500
print(list1)
print(list2)

[1, 4, 5, 7, [90, 8]]
[1, 4, 5, 7, [500, 8]]

## Tuple
- Collection which can be indexed but immutable,(apple,250)
- so once we declare the tuple,we can not edit the data
- tuple will be declared using`()`

In [112]:
tuple1=(10,20,30,'python',[11,12,13],True,(33,44,55))# immutable means we can not changeble

In [113]:
password=('python','1234','abcdef') #tuple is flexible,likelist,secure,it can not change and replace

In [114]:
list1=[10,23,34,45,56,67]
tuple20=tuple(list1)
tuple20      # conversion of list to tuple

(10, 23, 34, 45, 56, 67)

### tuple declaration

In [115]:
a=(1,4,5)
print(a)
print(type(a))

(1, 4, 5)
<class 'tuple'>

In [116]:
a=(1)
print(a)
print(type(a))

1
<class 'int'>

#### How to add elements in tuple?

In [117]:
tuple1=(10,20,30)
tuple2=('python','data science','machine learning')
tuple3=tuple1+tuple2

In [118]:
tuple3

(10, 20, 30, 'python', 'data science', 'machine learning')

In [119]:
tuple4=(10,11,12,13,14,15,16,17)
tuple5=tuple4[0:4]+tuple4[6:]
tuple5

(10, 11, 12, 13, 16, 17)

In [120]:
tuple5=tuple4[0:4]+tuple4[6:]+(20,21)
tuple5

(10, 11, 12, 13, 16, 17, 20, 21)

### packing and unpacking

In [121]:
num1=10
num2=20
num3=30
num4=40
tuple_new=(num1,num2,num3,num4)
tuple_new

(10, 20, 30, 40)

In [122]:
data1=10
data2=20
data3=(30,40)
tuple7=(data1,data2,data3)
tuple7
# what we do three data together and adding is called packing

(10, 20, (30, 40))

In [123]:
tuple_new

(10, 20, 30, 40)

In [124]:
var1,var2,var3,var4=tuple_new
print(var2)
# this process is called unpacking

20

In [125]:
tuple10=('python','data science','machine learning')

In [126]:
str1,str2,str3=tuple10
print(str2)

data science

#### len()

In [127]:
tuple_new

(10, 20, 30, 40)

In [128]:
len(tuple_new)

4

In [129]:
len(tuple10)

3

### min,max,sum functions 
- it can be only used nummerical values

In [130]:
tuple7=(20,30,40.5,50.6)
print(min(tuple7))
print(max(tuple7))

20
50.6

In [131]:
max(tuple7)

50.6

In [132]:
min(tuple7)

20

In [133]:
sum(tuple7)

141.1

### Tuple indexing
- we can apply all the list indexing steps on the tuples

In [134]:
tuple_new

(10, 20, 30, 40)

In [135]:
tuple_new[2:4]

(30, 40)

#### reverse tuple

In [136]:
tuple_new[::-1]

(40, 30, 20, 10)

In [137]:
reversed_tuple=tuple_new[::-1]
reversed_tuple

(40, 30, 20, 10)

#### sorted

In [138]:
tuple11=(67,11,93,7,2,17)

In [139]:
sorted(tuple11)

[2, 7, 11, 17, 67, 93]

In [140]:
sorted_data=sorted(tuple11)# ascending order
sorted_data

[2, 7, 11, 17, 67, 93]

In [141]:
sorted_data=sorted(tuple11,reverse=True)# descending order
sorted_data

[93, 67, 17, 11, 7, 2]

#### count

In [142]:
tuple11.count(2)

1

In [143]:
tuple12=(1,2,4,3,4,2,5,6,7,8,7,7,6,5,4,3,2)
tuple12.count(7)

3

## sets
- sets are like lists in that you use them for storing a collection of elements.unlike lists,however,the elements in a set are nonduplicates and are not placed in any particular order
- with`{}` we declare a set
- sets are unordered and unindexed
- set will not allow duplicate elements
- set is mutable

In [144]:
set1={10,20,30,40,50}
set1 # it can not allow duplicate elements and not indexing and not slicing

{10, 20, 30, 40, 50}

In [145]:
set2=set([10,11,12,13])
set2 # it is also one way to create set

{10, 11, 12, 13}

In [146]:
list_dup=[10,10,11,11,13,13,14,15,16,17,18,18]
set(list_dup)

{10, 11, 13, 14, 15, 16, 17, 18}

In [147]:
list_dup=[10,10,11,11,13,13,14,15,16,17,18,18]
set_new=set(list_dup)
set_new

{10, 11, 13, 14, 15, 16, 17, 18}

In [148]:
list_new=list(set_new)
list_new

[10, 11, 13, 14, 15, 16, 17, 18]

### Built-in functions

#### adding elements into a set

In [149]:
# we can't assign value directly through index
my-set[0]=12
print(my_set)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3467312134.py, line 2)

#### add()
- to add elements inside of a set

In [150]:
# add one element at a time in set
set_new
set_new.add(23)
set_new

{10, 11, 13, 14, 15, 16, 17, 18, 23}

#### update()
- we can add multiple elements using `update`

In [151]:
# add multiple elements to a set
set_new.update([45,33,22,76])
set_new

{10, 11, 13, 14, 15, 16, 17, 18, 22, 23, 33, 45, 76}

#### sort()

In [152]:
set3={1,6,3,5,0,8}
sorted(set3)

[0, 1, 3, 5, 6, 8]

In [153]:
sorted_data=sorted(set_new)
sorted_data

[10, 11, 13, 14, 15, 16, 17, 18, 22, 23, 33, 45, 76]

### delete elements from a set

#### pop()
- pop is used to delete element from the given set
- we can not the predict the which element will be delete because set is unindexed

In [154]:
set_new

{10, 11, 13, 14, 15, 16, 17, 18, 22, 23, 33, 45, 76}

In [155]:
set_new.pop() ## any random element should be eleminated

33

#### remove()
- remove will remove the value from the set if the value exists,if not
- it generates error

In [156]:
set_new.remove(13)
set_new      ### to delete particular element ina set

{10, 11, 14, 15, 16, 17, 18, 22, 23, 45, 76}

#### discard()
- discard will discard the value from the set
- if the value is not there in the set,discard will not throw any error

In [157]:
set_new.discard(16)
set_new          # same like remove

{10, 11, 14, 15, 17, 18, 22, 23, 45, 76}

In [158]:
set_new

{10, 11, 14, 15, 17, 18, 22, 23, 45, 76}

##### differences between remove and discard

In [159]:
set_new.discard(97) # in this code we can click run it can not show the error and continue the program code

In [160]:
set_new.remove(97)# in this code we can clik run it can be show the error and not continue the next program

KeyError: 97

#### clear()

In [161]:
set_new.clear()
set_new

set()

In [162]:
del set_new

## other set operations
- 1.union()
- 2.intersection()
- 3.difference()
- 4.symmetric-difference

In [163]:
set1={10,11,12,13,14}
set2={13,14,15,16,17}

In [164]:
set1 | set2 # the middle of the symbol is represens union function

{10, 11, 12, 13, 14, 15, 16, 17}

In [165]:
set1.union(set2)

{10, 11, 12, 13, 14, 15, 16, 17}

In [166]:
set1 & set2 # in this & symbol represents the intersection

{13, 14}

In [167]:
set1.intersection(set2)

{13, 14}

In [168]:
set1 - set2     #  '-'this symbol indicates difference

{10, 11, 12}

In [169]:
set1.difference(set2)

{10, 11, 12}

In [170]:
# opposite function of intersection
set1 ^ set2   # '^' this symbol represents symmetric difference

{10, 11, 12, 15, 16, 17}

In [171]:
set1.symmetric_difference(set2)

{10, 11, 12, 15, 16, 17}

### manipulating and accessing sets
- you can add an element to a set or remove an element by using the add(e)or remove(e)method.you can use the len,min,max,and sum functions on a set,and a for loop to traverse all elements in a set.you can use the in or not in operator to determine whether an element is in the set

In [172]:
s1={1,2,4}
s1.add(9)
s1

{1, 2, 4, 9}

In [173]:
print('length is',len(s1))
print('max is',max(s1))
print('min is',min(s1))
print('sum is',sum(s1))

length is 4
max is 9
min is 1
sum is 16

In [174]:
4 in s1

True

In [175]:
100 not in s1

True

## Dictionary
python dictionary is an unordered collection of items.while other compound data types have only value as an element,a dictionary has a key:value pair.
it is mutable

### Dict creation

In [176]:
dict1={'name':'bhargavi','place':'india','role':['instructor','mentor'],1:'python'}
dict1       #dictionary with mixed keys

{'name': 'bhargavi',
 'place': 'india',
 'role': ['instructor', 'mentor'],
 1: 'python'}

In [177]:
dict2={'qualification':{1:'bachelors',2:'masters'}}
dict2     #dictionary with integer keys

{'qualification': {1: 'bachelors', 2: 'masters'}}

In [178]:
dict3=dict([(1,'abc'),(2,'xyz')]) # create a dict with list of tuples
dict3

{1: 'abc', 2: 'xyz'}

In [179]:
dict3=dict()
type(dict3)

dict

In [180]:
dict3=dict()
dict3  # empty dictionary

{}

### Dict access

In [181]:
dict1

{'name': 'bhargavi',
 'place': 'india',
 'role': ['instructor', 'mentor'],
 1: 'python'}

In [182]:
dict1['role']

['instructor', 'mentor']

*dictionary is not indexible : because dictionaries are unordered collection of items*

In [183]:
dict1['name']

'bhargavi'

#### get()

In [184]:
dict1.get('place') ## this is second approach

'india'

### dict add or modify elements

In [185]:
dict1[1]='machine learning' # it is mutable and replace or modify the data

In [186]:
dict1

{'name': 'bhargavi',
 'place': 'india',
 'role': ['instructor', 'mentor'],
 1: 'machine learning'}

In [187]:
dict1['qualification']=('b.tech','bachelors')
dict1 # add the data in this 'qualification' is the key and'b.tech'is the value to the key

{'name': 'bhargavi',
 'place': 'india',
 'role': ['instructor', 'mentor'],
 1: 'machine learning',
 'qualification': ('b.tech', 'bachelors')}

In [188]:
dict1['hobbies']='play indoor games'
dict1

{'name': 'bhargavi',
 'place': 'india',
 'role': ['instructor', 'mentor'],
 1: 'machine learning',
 'qualification': ('b.tech', 'bachelors'),
 'hobbies': 'play indoor games'}

### Dict Delete or Remove Element

In [189]:
dict1

{'name': 'bhargavi',
 'place': 'india',
 'role': ['instructor', 'mentor'],
 1: 'machine learning',
 'qualification': ('b.tech', 'bachelors'),
 'hobbies': 'play indoor games'}

In [190]:
dict1.pop('place') # specific will be removed

'india'

In [191]:
dict1

{'name': 'bhargavi',
 'role': ['instructor', 'mentor'],
 1: 'machine learning',
 'qualification': ('b.tech', 'bachelors'),
 'hobbies': 'play indoor games'}

In [192]:
dict1.popitem() # delete something like any one or any value because inorder

('hobbies', 'play indoor games')

In [193]:
dict1

{'name': 'bhargavi',
 'role': ['instructor', 'mentor'],
 1: 'machine learning',
 'qualification': ('b.tech', 'bachelors')}

In [194]:
del dict1['name']
dict1            # value not removed or delete only delete key functions

{'role': ['instructor', 'mentor'],
 1: 'machine learning',
 'qualification': ('b.tech', 'bachelors')}

In [195]:
dict1.clear()
dict1           # all data is clear

{}

### dictionary methods

In [196]:
dict1

{}

In [197]:
print(dict1.keys())

dict_keys([])

In [198]:
dict1.values()

dict_values([])

In [199]:
dict1.items() # it will show the all keys and values or data pairs

dict_items([])

In [200]:
dict1

{}

In [201]:
dict1_copy=dict1.copy()
dict1_copy

{}

In [202]:
dict4={}.fromkeys([1,2,3,4],'python')
dict4

{1: 'python', 2: 'python', 3: 'python', 4: 'python'}

In [203]:
dict4={}.fromkeys([1,2,3,4],['python','machine learning'])
dict4

{1: ['python', 'machine learning'],
 2: ['python', 'machine learning'],
 3: ['python', 'machine learning'],
 4: ['python', 'machine learning']}

## Python conditional statements
> conditionals help us to make decisions.they  executes blocks of code based on the truthfullness of some statements.the is elif else keywords actually help us to write conditions
- If
- If-else
- Elif
- Nested if and if-else
- Elif ladder

## python indentation

a simple if block-

    if(number < 0):
    print('you entered a negative number')

in python,the code blocks are defined by a set of common or consistent number of spaces.this is called as **python indentation.**

the block scope will end at the first unindented line.

the best practice is to use**Tab**key.

### 1. IF
- The if keyword is used to check for a statement and execute the subsequent block of code based on the truthfullness of the statement.if statement contains the starter condition.as such,a condition has to be always given to the if block

syntax:

if statement:block_of_code

In [204]:
num_of_students = int(input('enter the number of students in the session:'))

if(num_of_students > 20):
    print('hello','welcome to the session.')
    print('we will start the session in 5 minutes.')
    print('we are going to study python today')
print('this is outside the body of if')

enter the number of students in the session:10
this is outside the body of if

In [205]:
num_of_students = int(input('enter the number of students in the session:'))

if(num_of_students >= 20) and (num_of_students <=50):
    print('hello','welcome to the session.')
    print('we will start the session in 5 minutes.')
    print('we are going to study python today')
print('this is outside the body of if')

enter the number of students in the session:45
hello welcome to the session.
we will start the session in 5 minutes.
we are going to study python today
this is outside the body of if

In [209]:
num_of_students = int(input('enter the number of students in the session:'))

if(num_of_students > 20) or (num_of_students<=50):
    print('hello','welcome to the session.')
    print('we will start the session in 5 minutes.')
    print('we are going to study python today')
print('this is outside the body of if')

enter the number of students in the session:15
hello welcome to the session.
we will start the session in 5 minutes.
we are going to study python today
this is outside the body of if

In [207]:
num_of_students = int(input('enter the number of students in the session:'))

if True:
    print('hello','welcome to the session.')
    print('we will start the session in 5 minutes.')
    print('we are going to study python today')
print('this is outside the body of if')

enter the number of students in the session:24
hello welcome to the session.
we will start the session in 5 minutes.
we are going to study python today
this is outside the body of if

#### operarors in if

In [208]:
# using membership test
mylist1 =[25,35,65,55]
#i=65

if(65 in mylist1):
    print(65)
    
print(mylist1)

65
[25, 35, 65, 55]

### 2. IF-ELSE
USING IF-ELSE

In [210]:
num_of_students = int(input('enter the number of students in the session:'))

if(num_of_students > 20):
    print('hello','welcome to the session.')
    print('we will start the session in 5 minutes.')
    print('we are going to study python today')
else:
    print('we will wait for more students to join the session and then we will start.')

enter the number of students in the session:10
we will wait for more students to join the session and then we will start.

In [ ]:
# True: everything except false values
# False: false,0,none

In [211]:
#num_of_students = int(input('enter the number of students in the session:'))

if(4-3):   #condition that is checked for true or false 
    print('hello','welcome to the session.')
    print('we will start the session in 5 minutes.')
    print('we are going to study python today')
else:
    print('we will wait for more students to join the session and then we will start.')

hello welcome to the session.
we will start the session in 5 minutes.
we are going to study python today

In [212]:
marks = int(input('enter the marks : '))
cutoff=35

if marks > cutoff:
    print('congratulations,you passed!')
else:
    print('sorry,you failed the exam.')

enter the marks : 16
sorry,you failed the exam.

In [213]:
num = int(input('enter a number:'))

if num%2==0 :
    print('number is even')
else:
    print('number is odd')

enter a number:35
number is odd

### 3. ELSE
- all the cases which aren't satisfied using the if statement are collected in the else block given by the else keyword. else block is the terminal block where all edge cases are collected. as such, no statement has to be given when we are using the else

In [214]:
marks=int(input('enter your marks :'))
cutoff =35
distinction =75
# if and elif only write in conditions dont write in else#
if marks <cutoff:
    print('failed')
elif marks >=distinction:
    print('passed with distinction')
else:
    print('passed')

enter your marks :65
passed

### 4. Nested if & if-else

In [216]:
marksscored=int(input('enter your marks :'))
cutoffscore =35
distinctioncutoff =75
if(marksscored>cutoffscore):
    print('result:pass')
    if(marksscored>=distinctioncutoff):
        print('result: pass with distinction')

enter your marks :67
result:pass

#### problem on tax payment

In [217]:
taxable_income = float(input('enter the taxable income:'))
# taxable_income=taxable_income/100000
# 0 - 2.5 - 0%
# 2.5 -5 -5%
# 5. -10 -20%
# 10 or above -30%
if(taxable_income>=10):
    print('taxable income',taxable_income*0.3)
else:
    if(taxable_income<10 and taxable_income>=5):
        print('taxable income',taxable_income*0.2)
    else:
        if(taxable_income<5 and taxable_income>=2.5):
            print('taxable income',taxable_income*0.05)
        else:
            print('taxable income',0)

enter the taxable income:56
taxable income 16.8

### 5. Elif ladder
- the `elif` keyword is used to check for those conditions which weren't done so by the previous statements. as a rule of thumb, if we're checking for n number of outcomes(n>s2).we'll be having n-2 number of elif statements

In [218]:
taxable_income = float(input('enter the taxable income:'))

# taxable_income=taxable_income/100000
# 0 - 2.5 - 0%
# 2.5 -5 -5%
# 5. -10 -20%
# 10 or above -30%

if(taxable_income>=10):
    print('slab is {} and tax payable is {}'.format('30%',taxable_income*0.3))
elif(taxable_income<10 and taxable_income>=5):
    print('slab is {} and tax payable is {}'.format('20%',taxable_income*0.2))
elif(taxable_income<5 and taxable_income>=2.5):
    print('slab is {} and tax payable is {}'.format('5%',taxable_income*0.05))
else:
    print('slab is {} and tax payable is {}'.format('0%',0))

enter the taxable income:34
slab is 30% and tax payable is 10.2

In [219]:
#### advantages of function
# code reusable
# time saving
# error can be less
# no repetation of code
# you can make multiple functions it becomes much more efficient and clean and managable
# it will increase time complexity of the program
# time complexity is nothing but how much time it can be taken to run any program

### **what is function ?**
- function is a group of statrments that performs a specific task.
- a function is a collection of statements grouped together that performs an operation. when you call the random.randint(a,b)function,for example,the system actually executes the statements in the function and returns the result.

### **advantages of functions:**makes
 - your code more organized and manageable
 - brings resuability there by avoiding code redundency

#### **some of terminalogies/keywords used in functions**
- `def`-marks the start of the function header.
- `function name`-used to uniquely identify the function.function naming follows the same check list which we followed for variables.
- `params/arga`-used to pass values to a function.params ate optional.
- `colon(:)`-marks the end of the function header.
- `doc string`-a short description about the function.this is optional.
- `business logic/statements`-one ore more valid python statements to perform the required task.
- `return`-this is optional.but this statement will help you to return a value from the function.
- `print`-to disply the value from the function.this is optional.either print or return need to be inclided at the end of the function.make sure proper indentation is gicen inside the function body.

In [ ]:
def funtion_name(var1,var2): # var1,var2 these are the parameters of the function
  """this is a doc string and it is used to explain your function logic""" ## this is called doc string
  add=var1+var2
  start1
  start2
  start3 ## is whole is called body of the function and works in based on logics
  start4
  start5

  return add ## return is the keyword

In [ ]:
#function_name(10,20) # function call
#function_name(50,60)

#### **function definition**
- a function contains a header and body.the header begins with the def keywoed,followed by the function's name and parameres,and ends with a colon.

In [ ]:
#function_name(30,40)
#function_name(70,80)
#function_name(90,100)

In [220]:
def maximum(a,b):
    if a>b:
        print('a is greater than b')
    else:
        print('b is greater than a')
print('hello world')

hello world

In [221]:
maximum(12,10)

a is greater than b

In [222]:
maximum(12,15)

b is greater than a

### function call
- in a function definition,you define what it is to do.to use a function,you have to call or invoke it. the program that calls the function is called a caller. there are two ways to call a function,depending on whether or not it returns a value.

- if a function does not return a value,the call to the function must be a statement.for example,the print function does not return a value.the following call is a statement. print("programming is fun!")

In [223]:
import math
ans=math.sqrt(4)
print(ans)

2.0

**note**:when a program calls a function,program control is transferred to the called function.a called function returns control to the caller when its return statement is executed or the function is finished.

In [224]:
def maximum(num1,num2):
    if num1>num2:
        result=num1
    else:
        result=num2
    return result # if return is not written it can not identify k value and display the none
def main():
    i=5
    j=2
    k=maximum(i,j)
    print('the larger number of',i,'and',j,'is',k)

main() #execution starts in this line

the larger number of 5 and 2 is 5

### functions with/without return values
- this section shows how to define and invoke a function that does not return a value.such a function is commonly known as a void function in programming terminology

In [225]:
def maximum(num1,num2):
    if num1>num2:
        return num1
    else:
        return num2

In [226]:
maximum(65,43)

65

In [227]:
def maximum(num1,num2):
    if num1 > num2:
        result = num1
    else:
        result = num2 #if can not use return it not show the output and use the print then it can be show the none output

In [228]:
print(maximum(65,43))

None

In [229]:
def maximum(num1,num2):
    if num1 > num2:
        result = num1
    else:
        result = num2
    return result

In [230]:
maximum(65,43)

65

In [231]:
# function with return value
def maximum(a,b):
    if a>b:
        return a
    else:
        return b

ans=maximum(50,90)
print('maximum=',ans)

maximum= 90

In [232]:
def maximum_2(num1,num2):
    if num1>num2:
        print(num1,'is maximum')
    else:
        print(num2,'is maximum')# in this program it can not nessesary used return keyword
    return None

In [233]:
print(maximum_2(65,43)) #if none is display it can be used to print option

65 is maximum
None

### note 1:
technically,every function in python returns a value whether you use return or not.if a function does not return a value,by default,it returns a special value `none`.for this reason,a function that does not return a value is also called a none function.the none value can be assigned to a variable to indicate that the variable does not references any object.for example,if you run the following program,you will see the output is none,because the sum function does not have a return statement.by default,it returns none.

In [234]:
def sum(number1,number2):
    total=number1+number2
    return None
print(sum(10,20))

None

### note 2:
a return statement is not needed for a none function,but it can be used for terminating the function and returning control to the function's caller.the syntax is simply

**return(or)**

**return None**

this is rarely used,but it is sometimes useful for circumventing the normal flow of control in a function that does not return any value.for example,the following code has a return statement to terminate the function when the score is invalid.

In [235]:
#  break is used to inside of iteration for used for and while#

In [236]:
# print grade for the score
def printgrade(score):
    if score <0 or score >100:
        print('invalid score')
        return #same as return none ### it can be writen in return keyword it cant move the next body of the function
    if score >=90.0:
        print('a')
    elif score >=80.0:
        print('b')
    elif score >=70.0:
        print('c')
    elif score >=60.0:
        print('d')
    else:
        print('f')
printgrade(112) ##after writen the return keyword it can move directly printgrade

invalid score

In [237]:
# print grade for the score
def printgrade(score):
    if score <0 or score >100:
        print('invalid score')
        return #same as return none
    if score >=90.0:
        print('a')
    elif score >=80.0:
        print('b')
    elif score >=70.0:
        print('c')
    elif score >=60.0:
        print('d')
    else:
        print('f')
printgrade(56)

f

### positional and keyword arguments
the power of function is its ability to work with parameters.when calling a function,you need to pass arguments to paramters.there are two kinds of arguments:positional arguments and keyword arguments.

using **positional arguments** requires that the arguments be passed in the same order as their respective parameters in the function header.the arguments must match the parameters in order,number,and compatible type,as defined in the function header.

you can also call a function using **keyword arguments**,passing each argument in the form`name=value`.the arguments can appears in any order using keyword arguments.

In [238]:
def  nprintln(message,n):
    for i in range(n):
        print(message)

In [239]:
nprintln('a',3)

a
a
a

In [240]:
nprintln(3,'a')

TypeError: 'str' object cannot be interpreted as an integer

In [241]:
nprintln(n=5,message='good')

good
good
good
good
good

In [242]:
nprintln(message='good',n=5)

good
good
good
good
good

### modularizing code
function can be used to reduce redundant code and enable code reuse.functions can also be used to modularize code and improve a program's quality.in python,you can place the function into a file called module with the file-name extention.py.the module can be later imported into a program for reuse.the module file should be placed in the same directory with your other programs.a module can contain more than one function.each function in a module must have a different name.

In [243]:
%%writefile mymath.py
def add(x,y):
    return x+y
def subtract(x,y):
    return x-y
def multiply(x,y):
    return x*y
def divide(x,y):
    return x/y

Overwriting mymath.py

In [244]:
import mymath as m
ans=m.add(10,20)
print(ans)

30

### the scope of variables
the scope of a variable is the part of the program where the variable can be referenced.a variable created inside a function is reffered to as a local variable.local variables can only be accessed within a function.the scope of a local variable starts from its creation and continue to the end of the function that contains the variable.

in python,you can also use global variables.they are created outside all functions and are accessible to all functions in their scope.

In [245]:
#scope of a variable:where the variable is identify # life time of a variable:the time till which any variable is active

**lifetime of the variable:the time till which any variable is active throughout the program**

**scope of a variable:the area where any variable is identified**.

In [246]:
globalvar=1
def f1():
    localvar=2
    print(globalvar)
    print(localvar)
f1()
print(globalvar) 
print(localvar) #out of scope,so this gives an error #only works inside of the function

1
2
1

NameError: name 'localvar' is not defined

In [247]:
f1()

1
2

In [248]:
x=1
def f1():
    x=2
    print(x)# displays 2
f1()
print(x) # displays 1

2
1

In [249]:
p=1 # global variable
def increase():
    global p
    p=p+1
    print(p)
increase()
print(p)# display 2

2
2

In [250]:
globalvar=1
def f1():
    localvar=2
    globalvar=10
    print(globalvar)
    print(localvar)
f1()
print(globalvar) 
print(localvar)

10
2
1

NameError: name 'localvar' is not defined

**global**:gives us the permission to make changes to the global variable from inside of any function

In [251]:
globalvar=1
def f1():
    localvar=2
    global globalvar ##access the global var
    globalvar=10
    print(globalvar)
    print(localvar)
f1()
print(globalvar) 
print(localvar)

10
2
10

NameError: name 'localvar' is not defined

In [252]:
def maximum(a,b):
    pass

In [253]:
maximum(10,20)

### function arguments

In [254]:
def maximum(num1,num2):## num1,num2 are called parameters
    if num1>num2:
        result=num1
    else:
        result=num2
    return result

In [255]:
maximum(20,10)## these are called arguments

20

In [256]:
def maximum(num1,num2=15):## num1,num2 are called parameters# this is going to the default argument
    if num1>num2:
        result=num1
    else:
        result=num2
    return result

In [257]:
maximum(20)

20

In [258]:
def maximum(num2,num1=10):## num1,num2 are called parameters
    if num1>num2:
        result=num1
    else:
        result=num2
    return result
maximum(20)

20

In [259]:
def maximum(num1,num2):## num1,num2 are called parameters
    if num1>num2:
        result=num1
    else:
        result=num2
    return result
maximum(20,30)

30

### 1. default arguments
- we can provide a default value to an argument by using the assignment operator(=).

In [260]:
def greet(name='Rohut',msg='good morning'):
    """this function greets to person with the provided message if message is not provided,it defaults to 'good morning'"""
    #print('hello{0},{1}'.format(name,msg))
    print('hello',name,msg)
greet('Rohit','good evening')

hello Rohit good evening

In [261]:
#with out msg argument
greet('rohit')

hello rohit good morning

once we have a default argument,all the arguments to its right must also have default values.

def greet(msg='good morning',name)

#will get a syntaxerror:non-default argument follows default argument

### 2. keyword arguments
- kwargs allows you to pass keyworded variable length of arguments to a function.you should use **kwargs if you want to handle named arguments in a function

In [262]:
def greet(**kwargs): # ** these are called keyworded arguments
    print(kwargs)

In [263]:
greet(num1=10,num2=20,num3=30)

{'num1': 10, 'num2': 20, 'num3': 30}

In [264]:
def greet(**batman):
    print(batman)

In [265]:
greet(player1='sachin',player2='virat')

{'player1': 'sachin', 'player2': 'virat'}

In [266]:
greet(msg1='hello',msg2='good morning')

{'msg1': 'hello', 'msg2': 'good morning'}

In [267]:
def maximum(**kwargs):
    print(kwargs)
maximum(num1=10,num2=20,num3=30) ##dictionary of the values

{'num1': 10, 'num2': 20, 'num3': 30}

### 3. arbitary arguments
- sometimes,we do not know in advance the number of arguments that will be passed into a function.python allows us to handle this kind of situation through function calls with arbitary number of arguments.

In [268]:
def greet(*messages): # * these are called arbitraory arguments
    print(messages)           ## name of parameter
    for message in messages:
        print(message)
greet('hello','good morning','how are you?') #this is function call

('hello', 'good morning', 'how are you?')
hello
good morning
how are you?

### kwargs and args in functions
`*args and **kwargs`

- *args - when you have no idea about how many arguments you will be receiving as an input for the function
- **kwargs - ........how many keyword arguments you will be ...............

In [269]:
def fname(*args):
    print(args)

In [270]:
def fname(*b):
    print(b)

In [271]:
fname(1,2,3)    # *args - it will be passed or considered as tuple

(1, 2, 3)

In [272]:
def fname(*args):
    z=args +(4,5,6)
    print(z)
fname(1,2,3)

(1, 2, 3, 4, 5, 6)

In [273]:
(1,2,3)+(4,5,6)

(1, 2, 3, 4, 5, 6)

In [274]:
def fname(*args):
    z=args[1]        # it can also use indexing
    print(z)
fname(4,9,0)

9

In [275]:
## **kwargs - go as dictionary format
def fname(**kwargs):
    print(kwargs)
fname(x=8,y=10,s=5,r=4,b=2)

{'x': 8, 'y': 10, 's': 5, 'r': 4, 'b': 2}

In [276]:
def fname(**kwargs):
    print(kwargs.keys())
    print(kwargs.values())
fname(x=8,y=9,s=7,t=4)

dict_keys(['x', 'y', 's', 't'])
dict_values([8, 9, 7, 4])

### Types of functions
1.built-in functions

2.user-defined functions

### Built-in functions

abs()

In [277]:
# find the absolute value
number=-200
abs(number)

200

##### all()
#return value of all() function

true:if all elements in an iterable are true

false:if any element in an iterable is false

In [278]:
list1=[10,20,30,-40,61.5]
all(list1)

True

- false values in python: False,none,0

In [279]:
list1=[10,20,30,-40,61.5,0,'python']
all(list1)

False

In [280]:
list1=[None]
all(list1)

False

#### dir()
- the dir() tries to return a list of valid attributes of the object.
- if the object has *dir()* method will be called and must return the list of attributes.
- if the object doesn't have dir() method,this method tries to find information from the `dict` attribute(if defined),and from type object.in this case,the list returned from dir() may not be complete.

In [281]:
dir(list1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#### divmod()
- the divmod() method takes two numbers and returns a pair of numbers(a tuple) consisting of their quotient and remainder.

In [282]:
divmod(40,2) # print quotient and remainder as a tuple

(20, 0)

#### enumerate()
- the enumerate() method adds counter to an iterable and returns it.
- syntax:enumerate(iterable,start=0)

In [283]:
list1=[10,20,30,40,50,60,70,80,90]
for num in enumerate(list1):         # it is shows the index and value
    print(num)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)
(5, 60)
(6, 70)
(7, 80)
(8, 90)

In [284]:
list1=[10,20,30,40,50,60,70,80,90]
for index,num in enumerate(list1):         # it is shows the index and value
    print(index,num)

0 10
1 20
2 30
3 40
4 50
5 60
6 70
7 80
8 90

In [285]:
topic='datascience'
for char in enumerate(topic):
    print(char)

(0, 'd')
(1, 'a')
(2, 't')
(3, 'a')
(4, 's')
(5, 'c')
(6, 'i')
(7, 'e')
(8, 'n')
(9, 'c')
(10, 'e')

In [286]:
topic='datascience'
for index,char in enumerate(topic):
    print(index,char)

0 d
1 a
2 t
3 a
4 s
5 c
6 i
7 e
8 n
9 c
10 e

In [287]:
numbers=[10,20,30,40,50,60]
for index,num in enumerate(numbers,):
    print('index {0} has value {1}'.format(index,num))

index 0 has value 10
index 1 has value 20
index 2 has value 30
index 3 has value 40
index 4 has value 50
index 5 has value 60

#### zip()

In [288]:
names=['vinay','ronit','krishna','radav','pranav']
passwords=[123,234,345,456,567]
ages=[21,23,24,25,26]
list(zip(names,passwords,ages)) ## to add the values like combining

[('vinay', 123, 21),
 ('ronit', 234, 23),
 ('krishna', 345, 24),
 ('radav', 456, 25),
 ('pranav', 567, 26)]

In [289]:
numberlist=[1,2,3]
numbers_tuple=('one','two','three','four')
# notice the size of numberlist and numbers_tuple is different
result=list(zip(numberlist,numbers_tuple))
result

[(1, 'one'), (2, 'two'), (3, 'three')]

#### filter()
- the filter() method constructs an iterator from elements of an iterable for which a function returns true.
- syntax:filter(function,iterable)

1.iterables : lists,sets,tuples,strings,dictionaries

In [290]:
def find_positive(num):
    if num>0:          
        return num
print(find_positive(-10))

None

In [291]:
list1=[-10,-9,-8,-7,-6,-5,5,4,3,2,1]
filter(find_positive,list1)

In [292]:
list1=[-10,-9,-8,-7,-6,-5,5,4,3,2,1]
filtered_values=list(filter(find_positive,list1)) # comparision is happen
filtered_values

[5, 4, 3, 2, 1]

In [293]:
list1=list(range(-10,10)) # in filter we can use the (>,<,>=,<=,==,!=) are used
print(list1)
positive_list=list(filter(find_positive_number,list1))
print(positive_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

NameError: name 'find_positive_number' is not defined

#### isinstance()
- the inistance() function checks if the object(first argument) is an instance or subclass of classinfo class(second argument).
- syntax:ininstance(object,classinfo)

In [294]:
lst=[1,2,3,4]
print(isinstance(lst,list))
t=(1,2,3,4)
print(isinstance(t,tuple))

True
True

#### map()
- map applies a function to all the items in an input_list.
- syntax:map(function_to_apply,list_of_inputs)

In [295]:
list1

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [296]:
def square(num):
    return num**2          #some operation is going to each
list(map(square,list1))

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [297]:
list(map(find_positive,list1))

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9]

#### reduce()
- reduce() function is for performing some computation on a list and returning the result.
- it applies a rolling computation to sequential pairs of values in a list.

In [298]:
from functools import reduce
def multiply(num1,num2): #only two variables used then the operation
    return num1 * num2
list2 = [1,2,3,4,5,6,7]
reduce(multiply,list2)

5040

### anonymous/lambda function
- in python,annonymous function is a function that is defined without a name.
- while normal functions are defined using the def keyword,in python anonymous functions are defined using the lambda keyword.
- lambda functions are used extensively along with built-in functions like filter(),map(),reduce()

### rules to create lambda function
- lambda can take any number of parameters(arguments)
- instead of def,we use lambda.no paranthesis required
- colon separates parameters and expression.
- no need of print/return keyword
- parameters/arguments is optional

In [299]:
def square(num):
    return num**2
square(10)

100

In [300]:
lambda num:num**2         # lambda is anonymous function and sometimes it can also called as ghost function because we don't use def function

In [301]:
list(map(lambda num:num**2,list1))

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [302]:
def even(num):
    if(num%2==0):
        return num

In [303]:
lst=[1,2,3,4,5,6]
even_lst=list(filter(even,lst))
print(even_lst)             # using filter

[2, 4, 6]

In [304]:
#use of lambda with filter()
lst = [1,2,3,4,5]
even_lst=list(filter(lambda x:(x%2==0),lst))
print(even_lst)

[2, 4]

In [305]:
#use of lambda with map()
lst=[1,2,3,4,5]
new_lst=list(map(lambda x:x**2,lst))
print(new_lst)

[1, 4, 9, 16, 25]

In [306]:
#use of lambda with reduce()
from functools import reduce
lst=[1,2,3,4,5]
product_lst=reduce(lambda x,y:x*y,lst)
print(product_lst)

120

### recursive function
- in python,a function can call other functions.it is even possible for the function to call itself.these type of construct are termed as recursive functions.

In [307]:
def factorial(num):
    if num ==1:
        return 1
    else:
        return(num*factorial(num-1))

In [308]:
num=7
print('factorial of {0} is {1}'.format(num,factorial(num)))

factorial of 7 is 5040

#### advantages of recursive functions
- recursive functions make the code look clean and elegant.
- a complex task can be broken down into simpler sub-problems using recursion.
- sequence generation is easier with recursion than using some nested iteration

### modules
- modules refer to a file containing python statements and definitions.
- a file containing python code,for e.g:abc.py,is called a module and its module name would be'abc'
- we use modules to break down large programs into small manageable and organized files.furthermore,modules provide reusability of code.
- we can define our most used functions in a modile and import it, instead of copying their definitions into different programs.

### how to import a module ?

 -  no of modules having the one block is called packaging or library
 -  a module is nothing but simple python file

In [309]:
import math
math.factorial(5)

120

In [310]:
math.sqrt(225)

15.0

In [311]:
math.isqrt(225)

15

In [312]:
import math as m          # m is called alias name
m.factorial(5)

120

In [313]:
### matplotlib.pyplot this is the main module.this is mainly used to create rename
### matplotlib.pyplot.plot: in this matplotlib.pyplot is called module and .plot is called function
## in the above and also used plt.plot

In [314]:
from math import factorial 
factorial(5)

120

#### examples

In [315]:
import math
print(math.pi)

3.141592653589793

In [316]:
import datetime
datetime.datetime.now()

datetime.datetime(2023, 8, 15, 15, 4, 8, 522358)

### import with renaming

In [317]:
import math as m
print(m.pi)

3.141592653589793

### from import statement
- we can import specific names from a module without importing the module as a whole.

In [318]:
from datetime import datetime
datetime.now()

datetime.datetime(2023, 8, 15, 15, 4, 9, 264290)

### import all names

In [319]:
from math import *
print('value of pi is ' +str(pi))

value of pi is 3.141592653589793

### dir() built in function
- we can use the dir() function to find out names that are defined inside a module

In [320]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

### datetime module
- representing date in python

In [321]:
def date(year,month,date): # only this is the formate

SyntaxError: incomplete input (2193881738.py, line 1)

In [322]:
from datetime import date
date=date(2023,8,1)
print(date)

2023-08-01

#### get current date

In [323]:
date.today()

datetime.date(2023, 8, 15)

In [324]:
today=date.today()
print(today)

2023-08-15

### get today's year,month and date

In [325]:
today=date.today()
print('current year:',today.year)
print('current month:',today.month)
print('current day:',today.day)

current year: 2023
current month: 8
current day: 15

In [326]:
today=date.today()
print(today)
print(today.year)
print(today.day)
print(today.month)

2023-08-15
2023
15
8

##### get date from timestamp
- the timestamp is the number of seconds from 1st january 1970 at UTC to a particular date.

In [327]:
from datetime import datetime
datetime.fromtimestamp(86400) # 86400 is the one day having no of seconds

datetime.datetime(1970, 1, 2, 5, 30)

In [328]:
from datetime import datetime
print(datetime.fromtimestamp(1086400))

1970-01-13 19:16:40

#### convert date to string

In [329]:
today=date.today()
today

datetime.date(2023, 8, 15)

In [330]:
from datetime import date
date.isoformat(today)

'2023-08-15'

In [331]:
today=date.today()
str=date.isoformat(today)
print('string representation',str)

string representation 2023-08-15

#### representing datetime in python

In [332]:
print(datetime(2023,8,1))

2023-08-01 00:00:00

In [333]:
from datetime import datetime
a=datetime(2022,2,8)
print(a)
a=datetime(1996,11,10,3,40,56)
print(a)

2022-02-08 00:00:00
1996-11-10 03:40:56

In [334]:
current_time=datetime.now()
print(current_time)

2023-08-15 15:04:13.732441

#### current date and time

In [335]:
print(datetime.now())

2023-08-15 15:04:14.108201

### random module
- generate random float between 0.0 and 1.0

In [336]:
import random
random.random()

0.8891375010555311

##### generate random integers

In [337]:
random.randint(1,100)

50

In [338]:
random.randrange(0,100,5)

65

In [339]:
list1=[1,2,3,4,5,6,7,8,9]
random.choice(list1)

2

In [340]:
# modules are predefined functions for specific tasks

### modularizing the code
functions can be used to reduce redundant code and enable code reuse.functions can also be used to modularize code and improve a program's quality.in python,you can place the function defunition into a file called modile with the file-name extension.py.the module can be later imported into a program for reuse.the module file should be placed in the same directory with your other programs.a module can contain more than one function.each function in a module must have a different name.

In [341]:
%%writefile mymath.py
def add(x,y):
    return x+y
def subtract(x,y):
    return x-y
def multiply(x,y):
    return x*y
def divide(x,y):
    return x/y

Overwriting mymath.py

In [342]:
import mymath
mymath.divide(10,5)

2.0

### problem solving

**1.1**

In [343]:
print('*')
print('* *')
print('* * *')
print('* * * *')

*
* *
* * *
* * * *

In [344]:
for i in range(5):
    print('*',end=' ')

* * * * *

In [345]:
rows=int(input('enter the number of rows:'))
for row in range(1,rows+1):
    for i in range(row):
        print('*',end=' ')
    print()

enter the number of rows:5
*
* *
* * *
* * * *
* * * * *

In [346]:
coloumns=int(input('enter the number of coloumns:'))
for coloumn in range(1,coloumns+1):
    for i in range(coloumn):
        print('*',end=' ')
    print()

enter the number of coloumns:5
*
* *
* * *
* * * *
* * * * *

In [347]:
rows=int(input('enter the number of rows:'))
for row in range(rows,0,-1):
    for i in range(row):
        print('*',end=' ')
    print()

enter the number of rows:5
* * * * *
* * * *
* * *
* *
*

In [348]:
rows=int(input('enter the number of rows:'))
for row in range(1,rows+1):
    for i in range(row):
        print(row,end=' ')
    print()

enter the number of rows:5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [349]:
rows=int(input('enter the number of rows:'))
for row in range(1,rows+1):
    for i in range(row):
        print(i,end=' ')
    print()

enter the number of rows:4
0
0 1
0 1 2
0 1 2 3

In [350]:
rows=int(input('enter the number of rows:'))
for row in range(1,rows+1):
    for column in range(1,row+1):
        print(column,end=' ')
    print()

enter the number of rows:6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [351]:
rows=int(input('enter the number of rows:'))
for row in range(1,rows+1):
    for i in range(row):
        print(2,end=' ')
    print()

enter the number of rows:5
2
2 2
2 2 2
2 2 2 2
2 2 2 2 2

In [352]:
rows=int(input('enter the number of rows:'))
num=1
for row in range(1,rows+1):
    for i in range(row):
        print(num,end=' ')
        num=num+1 or #num+=1
    print()

SyntaxError: invalid syntax (3296169149.py, line 6)

### 2. write a program to check whether num is prime or not

In [353]:
number=int(input('enter a number:'))#prime is devided by 1 and itself
for i in range(2,number):
    if number %i==0:
        print('not a prime number')
        break
    else:
        print('prime number') #if give any negative value it can not display anything
        break

enter a number:5
prime number

In [354]:
number=int(input('enter a number:'))
flag=0
for i in range(2,number):
    if number % i==0:
        flag=1
        break
if flag==1:
    print('not prime')
else:
    print('prime number')

enter a number:6
not prime

In [355]:
number=int(input('enter a number:'))
flag=0
if num>1:
    for i in range(2,num):
        if (num % i)==0:
            flag=1
            break
if flag==1:
    print('not prime')
else:
    print('prime number')

enter a number:8
prime number

### 3.1. factorial of a number using loops

In [357]:
#5!=5*4*3*2*1

num=int(input('enter  a number to calculate factorial:'))

factorial=1

if num<0:
    print('no factorial for negative numbers.')
elif num==0:
    print('factorial of 0 is 1')
else:
    for i in range(1,num+1):
        factorial=factorial * i
    print(factorial)

enter  a number to calculate factorial:4
24

### 3.2. factorial of a number using recursion

In [358]:
#recursion :a function calling itself
def factorial(n):
    if n==1:
        return n
    else:
        return n*factorial(n-1)
result=factorial(6)
print(result)

720

##### factorial of a number using recursion
def factorial(n):if n==1:return n else:return n*factorial(n-1)
factorial(5)
num=int(input('enter a number:'))

### check if the number is negative
if num<0:print('sorry,factorial does not exist for negative numbers')elif num==0:print('the factorial of 0 is 1')else:print('the factorial of',num,'is',factorial(num))

### FILE I/O

- file is a named location on disk to store related information.it is used to perminently store data in a non-volatile memory(e.g hard disk)
- since,random access memory(RAM)is volatile which loses its data when computer is turned off.we use files for future use of the data.
- when we want to read from or write to a file we need to open it first.when we are done.it needs to be closed.so that resources that are tied with the file are freed.

file operation:

 1.open a file
 
 2.read or write(perform operation)
 
 3.close the file

### opening a file
+ python has a built-in function open() to open a file.this function returns a file object.also called a handle.as it is used to read or modify the file accordingly.

In [360]:
file = open(path of the file)
path = c:/users/billa/onedrive/sample_file.txt
file = open('sample_file.txt')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1585911594.py, line 1)

we can specify the mode while opening a file.in mode,we specify whether we want to read 'r'.write 'w' or append 'a' to the file.we also specify if we want to open the file in text mode or binary mode.

## python file modes
- **read only('r')-** open a file for reading.(default)
- **write only('w')-** open a file for writing.creates a new file if it does not exist or truncates the file if it exists.
- **read and write('r+')-** open the file for reading and writing.raises i/o error if the does not exist.
- **write and read('w+')-** open the file for reading and writing.for existing file.the data is truncated and over-written.
- 'x'- open a file for exclusive creation.if the file already exists.the operation fails.
- 'a'- open for  appending at the end of the file without truncating it.creates a new file if it does not exist.
- 't'- open in text mode(default).
- 'b'- open in binary mode.
- '+'- open a file for updating (reading and writing)

In [ ]:
# truncated:everithing will be delete and new data will be entering.
# append:adding something to the end of the file.

In [361]:
file = open('sample_file.txt','w') # it can use only write

In [362]:
#file2= open('newfile.txt','r') ##it can be get error because in this name file is not having

In [363]:
file2 = open('newfile.txt','w+') # it can use write and read

### file object properties

In [364]:
print(file.name)
print(file.readable())
print(file.writable())
print(file.close())
print(file.closed)

sample_file.txt
False
True
None
True

### closing a file
- closing a file will free up the resources that were tied with the file and is done using the close() method.
- python has a garbage collector to clean up unreferenced object but,we must not rely on it to close the file.

In [365]:
file=open('sample_file.txt')

In [366]:
file.close()

In [367]:
file.closed

True

this method is not entirely safe.if an exception occurs when we are performing some operation with the file.the code exists without closing the file.
- a safer way is to use a try.........finally block

In [368]:
try:
    file=open('sample_file.txt')
finally:
    file.close()

In [369]:
file.close()

In [370]:
try:
    file=open('sample_file.txt','w')
    file.write('statement1\n')
    file.write('statement 2\n')
    file.write('statement 3\n')
finally:
    file.close()

### writing to a file
- in order to write into a file we need to open it in **write 'w',append 'a'or exclusive creation 'x' mode.**
- we need to be careful with the 'w' mode as it will overwrite into the file if it already exists.all previous data are erased.
- writing a string or sequence of bytes(for binary files)is done using **write()** method.this method returns the number of characters written to the file

In [371]:
file=open('sample_file.txt','a')
file.write('this is python programming session.\n') #\n is used for line by line

36

In [372]:
file.write('we are studying file handling\n')

30

In [373]:
file.close()

In [374]:
file.write('new statement') # once close the file it can not add any writing operation.because w is truncated

ValueError: I/O operation on closed file.

### reading from a file
- there are various methods available for this purpose.we can use the read(size) method to read in size number of data.if size parameter is not specified.it reads and returns up to the end of the file.

In [375]:
file=open('sample_file.txt','r')

In [376]:
file.read()

'statement1\nstatement 2\nstatement 3\nthis is python programming session.\nwe are studying file handling\n'

In [377]:
file.read()

''

In [378]:
file.seek(10)

10

In [379]:
file.read()

'\nstatement 2\nstatement 3\nthis is python programming session.\nwe are studying file handling\n'

In [380]:
file.read()

''

In [381]:
file.seek(0)

0

In [382]:
file.readline() # read one line of statement at a time

'statement1\n'

In [383]:
file.readline()

'statement 2\n'

In [384]:
file.readline()

'statement 3\n'

In [385]:
file.readline()

'this is python programming session.\n'

In [386]:
file.seek(0) # it can takes the location based read

0

 the **readlines()** method returns a list of the entire file.all those reading method return empty values when end of the file(EOF) is reached

In [387]:
file.readlines() # read all the statements at once

['statement1\n',
 'statement 2\n',
 'statement 3\n',
 'this is python programming session.\n',
 'we are studying file handling\n']

In [388]:
file.readlines()

[]

In [389]:
file.seek(10)

10

In [390]:
file.tell() ## it can display the where the cursor location is there it can be indicate

10

In [391]:
file.readlines()

['\n',
 'statement 2\n',
 'statement 3\n',
 'this is python programming session.\n',
 'we are studying file handling\n']

### using open() function and 'with' keyword

In [392]:
with open('sample_file.txt','r') as file:
    print(file.read())
    file.seek(11)
    print(file.read())

statement1
statement 2
statement 3
this is python programming session.
we are studying file handling


statement 2
statement 3
this is python programming session.
we are studying file handling

In [393]:
#import csv # csv =comma seperated values

#with open('cities.csv') as data:
    #file_data=csv.reader(data)
    
   # for row in file_data:
       # print(new)
       # print(type(row))

### renaming and deleting files in python.
- while you were using the read/write functions,you may also need to rename/delete a file in python.so,there comes a os module in python which brings the support of the file rename/delete operations.
- so,to continue,first of all,you should import the os module in your python script

In [394]:
import os

In [395]:
os.rename('sample_file.txt','rename.txt')

In [396]:
os.remove('rename.txt')

In [397]:
#os.remove('c:/users/billa/onedrive/rename.txt') #delete path

In [398]:
os.getcwd() # get current working directory

'C:\\Users\\billa\\OneDrive'

In [399]:
os.listdir()

['.849C9593-D756-4E56-8D6E-42412F2A707B',
 '.ipynb_checkpoints',
 'bhargavi.ipynb',
 'Desktop',
 'desktop.ini',
 'Documents',
 'Documents - Copy',
 'Getting started with OneDrive.pdf',
 'inno',
 'mymath.py',
 'new.file',
 'newfile.txt',
 'Personal Vault.lnk',
 'Pictures',
 '__pycache__']

In [400]:
 os.chdir("C:\Windows")

In [401]:
os.getcwd()

'C:\\Windows'

### python errors and built-in-exceptions
- when writing a program.we more often than not,will encounter errors.
- error caused by not following the proper structure(syntax) of all the language is called syntax error or parsing error.

In [402]:
if True:
print('hello')   ## have indentation error

IndentationError: expected an indented block after 'if' statement on line 1 (2370351283.py, line 2)

#### broadly speaking there are 3 main kinds of errors in programming:
**1. compile-time errors**
- we don't get these in python
- python is a dynamically typed language
- no compilation of code as such
- we have `syntax errors` in python

**2. logical errors**
- whenever there is a problem with our logic
- example-doing subtraction where addition was required logically

**3. run-time errors**
- occur when we run the code

**there can be different types of `run-time` errors**
- syntax error
- name-error
- value error
- division by zero error
- module not found error
- file not found error
- .........and so on

In [403]:
# c,c++ are compiled languages # python is not compiled this is interpreted language
#like if 10 lines are there in this if error is 4 th line stop here and not check until you fix above error

##### what's the difference between errors and expections?
- errors,in general,refer to **syntactical or interpreter-related errors**
- errors detected during **execution are called exceptions**

they occur,for example,when a file we try to open does not exist(**filenotfounderror**).dividing a number by zero (**zerodivisionerror**).module we try to import is not found(importerror)etc.

whenever these type of runtime error occur,python creates an exception object.if not handled properly.it prints a traceback to that error along with some details about why that error occured.

In [404]:
print(num)         #name error

4

In [405]:
1/0              # zerodivision erroe

ZeroDivisionError: division by zero

In [406]:
open('new_file.txt') #filenotfound error

FileNotFoundError: [Errno 2] No such file or directory: 'new_file.txt'

In [407]:
if(5>3):         #syntax error

SyntaxError: incomplete input (3830787417.py, line 1)

In [408]:
import something         #modulenoterror

ModuleNotFoundError: No module named 'something'

### python built-in exceptions

In [409]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

### python exception handling - try,except and finally
- python has many built-in exceptions which forces your program to output an error when something in it goes wrong.
- when these exceptions occut,it causes the current process to stop and passes it to the calling process until it is handled.if nor handled,our program will crash.
- for example,if function A calls function B which in turn calls function C and an exception occurs in function C.if it is nor handled in C,the exception passes to B and then to A.
- if never handled, an error message is spit out and our program come to a sudden,unexpected halt.

### catching exceptions in python
- in python,exceptions can be handled using a try statement.
- a critical operation which can raise exception is placed inside the try clause and the code that handles exception is weitten in except clause.

In [410]:
num1=int(input('enter a number:'))
num2=int(input('enter second number:'))
result=num1/num2
print(result) #if give second number'0' it can show the zerodivision error

enter a number:67
enter second number:56
1.1964285714285714

In [411]:
num1=int(input('enter a number:'))
num2=int(input('enter second number:'))

try:
    result=num1/num2
    print(result)
except:
    print('there is some error')

enter a number:4
enter second number:2
2.0

**except** block receives the program flow if any line inside try block throws an error.

In [412]:
list1=[1,2,3,'a','s']
for ele in list1:
    try:
        result=1/int(ele)
        print(result)
    except:
        print('some error occured')

1.0
0.5
0.3333333333333333
some error occured
some error occured

##### **sys module**

In [413]:
import sys

list1=[1,2,3,'a','5']

for ele in list1:
    try:
        result=1/int(ele)
        print(result)
    except:
        #print(sys.exc_info())
        print(sys.exc_info()[0])
        print('some error occured')

1.0
0.5
0.3333333333333333
<class 'ValueError'>
some error occured
0.2

### catching specific exceptions in python
- in the above example,we did not mention any exception in the except clause.
- this is not a good programming practice as it will catch all exceptions and handle every case in the same way.we can specify which exceptions an except clause will catch.
- a try clause can have any number of except clause to handle them differently but only one will be executed in case an exception occures.

In [414]:
import sys

list1=[1,2,3,'a','5',0]

for ele in list1:
    try:
        result=1/int(ele)
        print(result)
    except (ValueError):
        print('value error occured.')
    except (ZeroDivisionError):
        print('you were trying to divide a number by zero.')
    except (NameError):
        print('please check the variable names.')        
    except:
        print('some other error occured')

1.0
0.5
0.3333333333333333
value error occured.
0.2
you were trying to divide a number by zero.

### raising exceptions
- in python programming,exceptions are raised when corresponding errors occur at run time,but we can forcefully raise it using the keyword raise.
- we can also optionally pass in value to the exception to clarify why that exception was raised.

In [415]:
#prime number and factorial negative number is not calculates to it.

In [417]:
x=int(input('enter a number:'))
if x<0:
    raise ValueError('x should not be less than 0!')

enter a number:-8

ValueError: x should not be less than 0!

In [418]:
# will interrupt the flow of the program if we press keys on keyboard
raise KeyboardInterrupt

KeyboardInterrupt:

In [419]:
# i don't want my system to use more than 2gb ram,in that case we can use this
raise MemoryError('this is memory error')

MemoryError: this is memory error

### try ...... finally
- the try statement in python can have an optional finally clause.this caluse is executed no matter what,and is generally used to release external resources.

In [ ]:
#like if and else
try()           if()
except()        elif()
finally()       else()
finally will always run

In [ ]:
try:
    f=open('sample.txt')
    f.write()
    f.write()
    f.read()
    #perform file operations
    
finally:
    close()

In [420]:
def divide(x,y):
    try:
        #floor division:gives only fractional
        #part as answer
        result=x//y
    except ZeroDivisionError:
        print('sorry ! you are dividing by zero')
    else:
        print('yeah ! your answer is :',result)
    finally:
        #this block is always executed
        #regardless of exception generation.
        print('this is always exeecuted')

In [421]:
#look at parameters and note the working of program
divide(3,2)
divide(3,0)

yeah ! your answer is : 1
this is always exeecuted
sorry ! you are dividing by zero
this is always exeecuted

## object oriented programming(OOP)

### write code once for a given entity, and create multiple instances after
#### oop will allow us to:
- write the code once for a given object like student
- reuse that code as many times as we want the objects(students)
- write template code for objects having similar behaviours/characteristics/properties
- use that code to create as many similar objects as we want
#### example- a banking application has:
- customers
- bank accounts
- transactions
#### even in our code,we will have some representations of these objects existing in real-world
- representation of customers,accounts,
- representations of transactions happening among these accounts
#### to implement OOP,we need 2 things:
`1.class`
- it's a template
- a blue print
- use it to create as many objects as we want
- example:class student
`object`
- instances of a class
- created using the blueprint code of class
- example: 'vinay' is an instance of student
#### a class contains:
- properties-data or variables which have some values
- methods-functions which are used to perform some mutations or tasks on object's properties
- so,data and its mutations are stored together inside a class

In [ ]:
# class is like blueprint or template in this having multiple objects

In [422]:
class student:
    def __init__(self):
        self.name='bhargavi'
        self.age=21

In [423]:
student1=student()  #student1 is an object of class student
student2=student() 
student3=student()

In [424]:
student1.name

'bhargavi'

In [425]:
student2.age

21

In [426]:
class student:
    def __init__(self,newname,newage,newrollnumber): # initialize the template code when an object is created
        self.name=newname
        self.age=newage
        self.rollnumber=newrollnumber

in the above program,we created a class with the name `student`.then,we define attributes.the attributes are a characteristics of an object.

these attributes are defined inside the `__init__`method of the class.it is the initializer method that is first run as soon as the object is created.

- first of all self is not a keyword
- it is a reference to an object
- it tells the calls,which of its objects we are reffering to

- class methods must have an extra first parameter in the method definiation.we do not give a value for this parameter when we call the method,python provides it
- if we have a method that takes no arguments,then we still have to have one argument.
- this is similar to `this pointer` in c++ and`this reference` in java.

In [427]:
student1=student('siri',21,406)
student2=student('anu',22,467) 
student3=student('megh',23,401)

In [428]:
student1.name

'siri'

In [429]:
student2.age

22

In [430]:
student3.name

'megh'

In [431]:
student1.rollnumber

406

In [432]:
 print(student1)

<__main__.student object at 0x0000023D7C4E80A0>

In [435]:
class student:
    def __init__(self,newname,newage,newrollnumber): # initialize the template code when an object is created
        self.name=newname
        self.age=newage
        self.rollnumber=newrollnumber
    def __str__(self):
        return f'{self.name},{self.age},{self.rollnumber}' #formatting of the text

In [440]:
student1=student('siri',21,406)
student2=student('anu',22,467) 
student3=student('megh',23,401)

In [437]:
print(student1)

siri,21,406

In [438]:
'{0},{1}'.format('python',5)

'python,5'

In [439]:
class student:
    def __init__(self,newname,newage,newrollnumber): # initialize the template code when an object is created
        self.name=newname
        self.age=newage
        self.rollnumber=newrollnumber
    def __str__(self):
        return f'students name is {self.name},age is{self.age},and roll number is{self.rollnumber}'

In [441]:
print(student2)

students name is anu,age is22,and roll number is467

In [442]:
class student:
    def __init__(self,newname,newage,newrollnumber=105): # when default arguments are only having in ending not middle
        self.name=newname
        self.age=newage
        self.rollnumber=newrollnumber
    def __str__(self):
        return f'students name is {self.name},age is{self.age},and roll number is{self.rollnumber}'

In [444]:
student1=student('siri',21)
student1.rollnumber

105

In [445]:
student1=student('siri',21,406) #priority is this but not given that time it can choose 105
student1.rollnumber

406

In [453]:
class student:
    
    
    def __init__(self,newname,newage): 
        counter=0
        counter +=1
        self.name=newname
        self.age=newage
        self.rollnumber=counter
    def __str__(self):
        return f'students name is {self.name},age is{self.age},and roll number is{self.rollnumber}'

In [37]:
student1=student('siri',21)
student2=student('anu',22)

In [455]:
student1.rollnumber

1

In [456]:
student2.rollnumber

1

In [2]:
class student:
    counter=0 # class attribute or class variable
    
    def __init__(self,newname,newage): 
        counter=0
        student.counter +=1
        self.name=newname
        self.age=newage
        self.rollnumber=student.counter
    def __str__(self):
        return f'students name is {self.name},age is{self.age},and roll number is{self.rollnumber}'

In [3]:
student3=student('megh',23)

In [4]:
student3.rollnumber

1

In [5]:
student4=student('niks',24)

In [7]:
student4.rollnumber

2

In [20]:
class student:
    counter=100  # class attribute or class variable
    
    def __init__(self,newname,newage): 
        counter=0
        student.counter +=1
        self.name=newname
        self.age=newage
        self.rollnumber=student.counter
    def __str__(self):
        return f'students name is {self.name},age is{self.age},and roll number is{self.rollnumber}'

In [21]:
student1.rollnumber

101

In [22]:
student2.rollnumber

102

### adding more behaviours to the class
- we can add more **behaviours/functions** to our blueprint class
- these are called **custom methods**
- thesee are not special functions like dunders **init** or **str**
- these are **something that we create** to perform certain tasks

In [27]:
class student:
    counter=0 # class attribute or class variable
    
    def __init__(self,newname,newage): 
        counter=0
        student.counter +=1
        self.name=newname
        self.age=newage
        self.rollnumber=student.counter
        
    def intro(self):       # custom method
        return f"hello! the student's name is {self.name}"
        
    def __str__(self):
        return f'students name is {self.name},age is{self.age},and roll number is{self.rollnumber}'

In [28]:
student1.intro()

"hello! the student's name is siri"

In [29]:
student2.intro()

"hello! the student's name is anu"

In [41]:
student1 = student('srihari',22,"reading books")
student2 = student('meghana',23,"drawing")

In [40]:
class student:
    counter=0 # class attribute or class variable
    
    def __init__(self,newname,newage,newhobbies): 
        counter=0
        student.counter +=1
        self.name=newname
        self.age=newage
        self.rollnumber=student.counter
        self.hobbies=newhobbies
        
    def hobbies(self):
        return f" the student's hobbies is {self.hobbies}"
        
        
    def __str__(self):
        return f'students name is {self.name},age is{self.age},and hobbies is{self.hobbies}'

In [42]:
student1.hobbies

'reading books'

**everything in python is an object**

In [47]:
num=10
print(type(num))

<class 'int'>

In [43]:
string1="python programming"

In [44]:
string1.capitalize()

'Python programming'

In [45]:
string1.upper()

'PYTHON PROGRAMMING'

#### this is a huge benifit of OOP paradigm
- we just need to write the blueprint code once
- we can use that code as many times as we want 
- all objects created using that blueprint will follow those properties

we can also pass default values of parameters inside__int__ to avoid that error

### let's see one more use case
- create a class called account,which refers to a bank account
- create attributes that will be uniquer for each instance of account

1.`id`---> this has to be incremented and assigned automatically

2.`bal`----> this will give balance amount for each account

    - bal needs to be assigned a value as soon as an account is created
    - as soon as account is created,it should have some opening balance

- create 2 instances of accounts.a1 and a2
     - a1 should have id=1 and bal=100
     - a2 should have id=next id and bal=0
- create a string representation for each account
     - when we print an account,like print(a1)
     - it should print out:
- account{id} has rs.{balance}.

In [86]:
class account: # in this account created automatically
    counter=100
    
    def __init__(self,balance=0):
        account.counter += 1
        self.id=account.counter
        self.bal=balance

In [87]:
account1=account(100)

In [90]:
account1.id

101

In [91]:
account1.bal

100

In [69]:
account2=account()

In [70]:
account2.id

102

In [71]:
account2.bal

0

In [94]:
class account:
    counter=100
    
    def __init__(self,balance=0):
        account.counter += 1
        self.id=account.counter
        self.bal=balance
        
    def __str__(self):
        return f"account {self.id} has rs.{self.bal}"

In [95]:
print(account1)

<__main__.account object at 0x00000167AD10E770>

In [75]:
class account:
    counter=100
    
    def __init__(self,balance=0):
        account.counter += 1
        self.id=account.counter
        self.bal=balance
        
    def deposit(self,amount):
             self.bal=self.bal+amount
        
    def __str__(self):
        return f"account {self.id} has rs.{self.bal}"

In [117]:
account1=account(100)

In [118]:
account2=account()

In [119]:
account1.bal

100

In [120]:
account2.bal

0

In [121]:
account1.deposit(100)
account2.deposit(50)

In [122]:
account1.bal

200

In [123]:
account2.bal

50

In [83]:
account1.deposit(-100)

In [84]:
account1.bal

100

In [61]:
class account:
    counter=100
    
    def __init__(self,balance=0):
        account.counter += 1
        self.id=account.counter
        self.bal=balance
        
    def deposit(self,amount):
        if amount >=0:
            self.bal=self.bal+amount
        
    def __str__(self):
        return f"account {self.id} has rs.{self.bal}"

In [62]:
account1.deposit(-100)

In [63]:
account1.bal

200

In [102]:
class account:
    counter=100
    
    def __init__(self,balance=0):
        account.counter += 1
        self.id=account.counter
        self.bal=balance
        
    def deposit(self,amount):
        if amount >=0:
            self.bal=self.bal+amount   # or we can use @ self.bal += amount @
      
    def withdraw(self,amount):
        self.bal = self.bal - amount
                 
    def __str__(self):
        return f"account {self.id} has rs.{self.bal}"

In [98]:
account1.withdraw(20)

In [99]:
account1.bal

180

In [112]:
account1.withdraw(-20)

In [113]:
account1.bal

240

In [114]:
account1.withdraw(300)

In [115]:
account1.bal

-60

In [131]:
class account:
    counter=100
    
    def __init__(self,balance=0):
        account.counter += 1
        self.id=account.counter
        self.bal=balance
        
    def deposit(self,amount):
        if amount >=0:
            self.bal=self.bal+amount
            
    def withdraw(self,amount):
        if amount >0 and self.bal>=amount:
            self.bal=self.bal-amount
        
    def __str__(self):
        return f"account {self.id} has rs.{self.bal}"

In [124]:
account1.withdraw(300)

In [125]:
account1.bal

200

In [132]:
account3=account(500)

In [133]:
account3.withdraw(500)
print(account3)

account 101 has rs.0

### inheritance

it refers to defining a new class with little or no modification to an existing class. the new class is called `derived (or child)` class and the one from which it inherits is called the `base(or parent) class`.

In [ ]:
 # all the software devolop that time it can be used to oops concept

In [ ]:
inheritance---->class account
these 2 types 1.saving accounts 2.current account
the both account are used to modify the details thats why used is this inheritance concept

In [13]:
class Person:
    
    # constructor
    def __init__(self,name):
        self.name=name
        
    # to get name
    def getname(self):
        return self.name
    
    #to check if this person is an employee
    def isEmployee(self):
        return False
        
    
##inherited or subclass (note person in bracket)
class Employee(Person):
    
    #here we return true
    def isEmployee(self):
        return True
    
emp=Person('vinay')#an object of person
print(emp.getname(),emp.isEmployee())

emp_new = Employee('rajinikant')# an object of employee
print(emp_new.getName(),emp_new.isEmployee())

vinay False

AttributeError: 'Employee' object has no attribute 'getName'

### Let's continue with the banking application example now
- lets i want to create different kinds of accounts
- savings and current account

### question:what is the difference between current and savings account?
- savings-say,we limit on the number of transactions<100
- current-can be any number of transactions
#### this is a small difference

**does it makes sense for me to write two entire seperate classes for such a small change?**
- you will be duplicating a lot of code
- you will have two copies
- if you want to make any changes,you will have to make changes to both-difficult to maintain

In [30]:
class account:
    counter=0
    def __init__(self,openingbal=0):
        account.counter +=1
        self.id=account.counter
        self.bal=openingbal
        
    def deposit(self,amount):
        if amount>=0:
            self.bal+=amount
            
    def withdraw(self,amount):
        if amount>=0 and self.bal>=amount:
            self.bal-=amount
            
    def __str__(self):
        return f'acc {self.id} has {self.bal}'

class savingsaccount(account):
    pass

class currentaccount(account):
    pass

sal=savingsaccount()
cal=currentaccount()

#### what should happen everytime we a deposit or withdraw?
- numTrans should increase
#### question:but where do we put the changes related to limit?
maybe copy of withdraw and deposite method in savingaccount

but that will start `duplicating the code - lets minimize that`

In [35]:
class Account:
    counter=0
    def __init__(self,openingBal=0):
        Account.counter += 1
        self.id=Account.counter
        self.bal=openingBal
        self.numTrans=0
        self.maxTrans=2 #new
        
    def deposit(self,amount):
        #do you understand why <and not <=?
        if amount >=0 and self.numTrans < self.maxTrans: #new
            self.bal += amount
            self.numTrans += 1 #new
            
    def withdraw(self,amount):
        if amount >=0 and self.bal >= amount and self.numTrans < self.maxTrans: #new
            self.bal -= amount
            self.numTrans += 1 #new
            
    def __str__(self):
        return f"Acc{self.id} has {self.bal}"
    
class SavingsAccount(Account):
    pass

class CurrentAccount(Account):
    pass

In [36]:
sa1=SavingsAccount()
ca1=CurrentAccount()

print(sal)
sa1.deposit(100)
print(sal)
sa1.deposit(100)
print(sal)
sa1.deposit(100)
print(sal)

acc 1 has 0
acc 1 has 0
acc 1 has 0
acc 1 has 0

but what is the problem here?
- we are making changes in parent class code
- due to this,both savings account and current account are getting affected

In [37]:
ca1.deposit(100)
print(cal)
ca1.deposit(100)
print(cal)
cal.deposit(100)
print(cal)

acc 2 has 0
acc 2 has 0
acc 2 has 100

how do we resolve this issue?

how do we ensure that different maxTrans limits get applied to savingsaccount and currentaccount?

- lets say maxTrans =2 for savingsaccount and 5 for currentaccount
- just update the value of maxTrans from 2 to 5 for currentaccount
this will fix the issue

In [38]:
class Account:
    counter=0
    def __init__(self,openingBal=0):
        Account.counter += 1
        self.id=Account.counter
        self.bal=openingBal
        self.numTrans=0
        self.maxTrans=2 #new
        
    def deposit(self,amount):
        #do you understand why <and not <=?
        if amount >=0 and self.numTrans < self.maxTrans: #new
            self.bal += amount
            self.numTrans += 1 #new
            
    def withdraw(self,amount):
        if amount >=0 and self.bal >= amount and self.numTrans < self.maxTrans: #new
            self.bal -= amount
            self.numTrans += 1 #new
            
    def __str__(self):
        return f"Acc{self.id} has {self.bal}"
    
class SavingsAccount(Account):
    pass

# maxtrans is being updated here just for currentaccount
class CurrentAccount(Account):
    def __init__(self):
        self.maxTrans =10 #new

now why did we receive this error and how to fix this error?

- we have to define`__init__` for the currentaccount class also and inside that we will mention.

In [39]:
class Account:
    counter=0
    def __init__(self,openingBal=0):
        Account.counter += 1
        self.id=Account.counter
        self.bal=openingBal
        self.numTrans=0
        self.maxTrans=2  #new
        
    def deposit(self,amount):
        #do you understand why <and not <=?
        if amount >=0 and self.numTrans < self.maxTrans: #new
            self.bal += amount
            self.numTrans += 1  #new
            
    def withdraw(self,amount):
        if amount >=0 and self.bal >= amount and self.numTrans < self.maxTrans: #new
            self.bal -= amount
            self.numTrans += 1  #new
            
    def __str__(self):
        return f"Acc{self.id} has {self.bal}"
    
class SavingsAccount(Account):
    pass

# maxtrans is being updated here just for currentaccount
class CurrentAccount(Account):
    def __init__(self):
        self.maxTrans =10 #new

In [40]:
sa1=SavingsAccount()
ca1=CurrentAccount()

print(sa1)
sa1.deposit(100)
print(sa1)

print(ca1)
ca1.deposit(100)
print(ca1)

Acc1 has 0
Acc1 has 100

AttributeError: 'CurrentAccount' object has no attribute 'id'

In [89]:
class Account:
    counter=100
    
    def __init__(self,balance=0):
        Account.counter += 1
        self.id=Account.counter
        self.bal=balance
        self.numtrans=0
        self.maxtrans=5  # only 5 transactions are done after words it can,t work the account
        
    def deposit(self,amount):
        if amount >=0 and :
            self.bal=self.bal+amount
            
    def withdraw(self,amount):
        if amount >0 and self.bal>=amount:
            self.bal=self.bal-amount
        
    def __str__(self):
        return f"Account {self.id} has rs.{self.bal}"
    
class SavingsAccount(Account):  ## account is the name of parent class
    pass

class CurrentAccount(Account):  #and these currentaccount and savings account clases are child classes
    def __init__(self):
        super(). __init__() 
        self.id =104
    self.maxtrans=20  
            
            
            
            
###replacing parent innit-----with child ---init----
###extending parent init---along with child---init---

SyntaxError: invalid syntax (1612779157.py, line 12)

In [84]:
sa1=SavingsAccount()
ca1=CurrentAccount()

In [73]:
print(sa1)

Account 101 has rs.0

In [74]:
print(ca1) # if use the in class current account add the self.id=104

Account 104 has rs.0

In [85]:
sa1.deposit(100)
sa1.deposit(100)
sa1.deposit(100)
sa1.deposit(100)
sa1.deposit(100) # 5 times used savings account

In [86]:
print(sa1)

Account 101 has rs.500

In [87]:
ca1.deposit(100) # these are used 20 times

In [88]:
print(ca1)

Account 102 has rs.100

In [83]:
class Account:
    counter=100
    
    def __init__(self,balance=0):
        Account.counter += 1
        self.id=Account.counter
        self.bal=balance
        self.numtrans=0
        self.maxtrans=5  
        
    def deposit(self,amount):
        if amount >=0 and self.numtrans < self.maxtrans:
            self.bal+=amount
            self.numtrans +=1
            
    def withdraw(self,amount):
        if amount >0 and self.bal>=amount and self.numtrans <self.maxtrans:
            self.bal=self.bal-amount
            self.numtrans +=1
        
    def __str__(self):
        return f"Account {self.id} has rs.{self.bal}"
    
class SavingsAccount(Account):  
    pass

class CurrentAccount(Account):  
    def __init__(self):
        super(). __init__() 
        self.maxtrans=20

In [90]:
print(sa1)

Account 101 has rs.500

In [91]:
print(ca1)

Account 102 has rs.100

### polymorphism
- polymorphism means having many forms
- it's the ability of an object to be displayed in more than one form

In [ ]:
# method have multiple forms is called polymorphism

In [106]:
class India:
    def capital(self):
        print("new delhi is the capital of India.")
        
    def language(self):
        print("hindi is the most widely spoken language of India.")
        
    def type_of(self):
        print("India is a developing country.")
        
class USA:
    def capital(self):
        print('washington,D.C. is the capital of USA.')
    
    def language(self):
        print("english is the primary language of USA.")
        
    def type_of(self):
        print('USA is a developed country.')
        
ind = India()
usa = USA()

for country in (ind,usa):
    ind.capital()
    ind.language()
    usa.type_of()

new delhi is the capital of India.
hindi is the most widely spoken language of India.
USA is a developed country.
new delhi is the capital of India.
hindi is the most widely spoken language of India.
USA is a developed country.

### polymorphism for banking application use case
- suppose our application needs methods to calculate interest for each specific account
- the interest of each account is calculated differently
- so we can't have a single implementation.

#### how will we implement this?
- parent class declares a function without providing am implementation.
- each child class inherits the function declaration and can provide its own implementation
- let's give account class a method called getlnterest()-which is inherited by both child classes. 
- with polymorphism.each child class may have its own way of implementing the method.

In [102]:
class account:
    counter =0
    
    def __init__(self,openingbal=0):
        account.counter +=1
        self.id =account.counter
        self.bal =openingbal
        self.numtrans =0
        self.maxtrans =2
        
    def deposit(self,amount):
        if amount >=0 and self.numtrans <self.maxtrans:
            self.bal +=amount
            self.numtrans +=1
            
    def withdraw(self,amount):
        if amount >=0 and self.bal >=amount and self.numtrans <self.maxtrans:
            self.numtrans +=1
            
    def getInterest(self): #new
        pass
    
    def __str__(self):
        return f"acc {self.id} has {self.bal}"        #new---->self.__bal
    
class savingsaccount(account):
    def __init__(self):
        super().__init__()
            
    def getInterest(self):
        Interest =self.bal*0.07
        print(f"Interest on account {self.id} is {Interest}")
            
class currentaccount(account):
    def __init__(self):
        super().__init__()
        self.maxtrans = 5
            
    def getInterest(self):
        Interest =(self.bal*0.05)/self.numtrans
        print(f"Interest on account {self.id} is {Interest}")

In [103]:
sa1=savingsaccount()
ca1=currentaccount()

print(sa1)
sa1.deposit(100)
sa1.withdraw(50)
print(sa1)
sa1.getInterest()

acc 1 has 0
acc 1 has 100
Interest on account 1 is 7.000000000000001

In [104]:
print(ca1)
ca1.deposit(100)
ca1.deposit(100)
print(ca1)
ca1.getInterest()

acc 2 has 0
acc 2 has 200
Interest on account 2 is 5.0